<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#"></a>
      <div class="container nav-collapse">
        <% if user_signed_in? %>
        <ul class="nav pull-right">
          <li><%= link_to "Alterar Conta", edit_user_registration_path %></li>
          <li><%= link_to "Sair", destroy_user_session_path, :method => :delete %></li>
        </ul>
        <% end -%>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>