<div class="row">
  <div class="span8">
    <h1>TECECE</h1>
    <p>
      Local onde você pode pesquisar e sugerir temas para trabalhos de conclusão de curso (TCC), podendo também adicionar seus trabalhos e projetos para ter como referência na instituição.
    </p>
  </div>
  <div class="span4">
      <%= link_to "Cadastrar", new_user_registration_path, :class => "btn btn-success btn-large" %>
      <%= link_to "Entrar", new_user_session_path, :class => "btn btn-large" %>
  </div>
</div>
