<%= render "modal"%>

<div class="hero-unit">
  <h1>TECECE</h1>
  <p>Local onde você pode pesquisar e sugerir temas para trabalhos de conclusão de curso (TCC), podendo também adicionar seus trabalhos e projetos para ter como referência na instituição.</p>
  <p>
    <%= link_to "Cadastre aqui!", "", :class => "btn btn-success btn-large", "data-toggle" => "modal", :href => "#signup" %>
  </p>
</div>
