<div class="row">
  <div class="span4 offset4">
    <center>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "well"} ) do |f| %>

        <%= f.email_field :email, :placeholder => "Email" %>

        <%= f.password_field :password, :placeholder => "Senha" %>

      <div class="actions">
        <%= f.submit "Entrar", :class => "btn btn-success", :style => "width:220px" %>
      </div>
      
    <% end %>
    </center>
  </div>
</div>
